button {
  background-color: #009693;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s;
  box-shadow: 2px 2px 5px 1px #000;
}

button:hover {
  background-color: rgba(0, 150, 147, 0.60);
}

button:active {
  box-shadow: none;
}

.delete-btn {
  background-color: lightcoral;
}

.delete-btn:hover {
  background-color: rgba(240, 128, 128, 0.60);
}

table {
  border-collapse: collapse;
  /* border: 1px solid #fff; */
  margin: 50px 0;
  width: 100%;
}

td {
  /* border: 1px solid #fff; */
  padding: 1.5rem;
  text-align: center;
}

th {
  padding: 1.5rem;
  cursor: pointer;
  user-select: none;
}
