table {
  border-collapse: collapse;
  /* border: 1px solid #fff; */
  margin: 50px 0;
  width: 100%;
}

td {
  /* border: 1px solid #fff; */
  padding: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #fff;
}

th {
  padding: 1.5rem;
  cursor: pointer;
  user-select: none;
}
