<div class="container-bg">
  <button>Add trade</button>
  <div>
    <table>
      <tr>
        <th>Status &#11032;</th>
        <th>Date &#11032;</th>
        <th>Symbol &#11032;</th>
        <th>Entry &#11032;</th>
        <th>Exit &#11032;</th>
        <th>Size &#11032;</th>
        <th>Side &#11032;</th>
        <th>Return $ &#11032;</th>
        <th>Return % &#11032;</th>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
      <tr>
        <td>WIN</td>
        <td>06/14/2022</td>
        <td>AMZN</td>
        <td>104.02</td>
        <td>126.03</td>
        <td>100</td>
        <td>LONG</td>
        <td>$200</td>
        <td>5%</td>
        <td>
          <button>Edit</button>
          <button class="delete-btn">X</button>
        </td>
      </tr>
    </table>
  </div>
</div>
