/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-family: Arial, sans-serif;
  background-color: #181c27;
  color: #bebebe;
}

.container-bg {
  background-color: #1b2131;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

button {
  background-color: #009693;
  border: none;
  border-radius: 4px;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  transition: all 0.2s;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.50);
}

button:hover {
  background-color: rgba(0, 150, 147, 0.60);
}

button:active {
  box-shadow: none;
}

.delete-btn {
  background-color: lightcoral;
}

.delete-btn:hover {
  background-color: rgba(240, 128, 128, 0.60);
}
